@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import 'reset';

.base-header{
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}
    
.base{
    max-width: 1303px;
    width: 100%;
    margin: 0 auto;
    // padding: 0 20px;
}

.top-header{
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top:40px;
    column-gap: 70px;

    &.fixed {
        padding-top:0;
        background-color: black;
    }
    

    h1{
        width: 142px;
    }

    .space{
        display: flex;
        flex-grow: 1;
    }
    
    .gnb{
        display: flex;
        column-gap: 30px;
        font-size: 17px;
        text-align: center;
        // ul 안에 ul 이 들어갈때는 조심해야한다.
        & > li{
            color: white;
            outline: 1px solid gold;
            position: relative;

            &.on{
                .depth-2{
                    display: block;
                }
            }

            .depth-2{
                background-color: red;
                position: absolute;
                top: 50px;
                left: 50%;
                // 왼쪽으로 땡긴다 (자기 몸 크기 값의 -50%)
                transform: translateX(-50%);
                padding: 25px 0;
                display: none;

            
                

                a{
                    display: block;
                    padding: 10px 30px;
                    // 줄바꿈 방지
                    white-space: nowrap;
                    
                }
            }
            

            
            & > a{
                padding:1.53em 10px; /* 27.5px */
                   
            }

            a:hover{
                color:#E2E2E2;
                transition: color 0.2s ease-in; 
            }
            
        }

    }

    .ham{
        display: block;
        width: 35px;
        

        &:hover {
            span:after{
                width:100%;
            }
        }
        

        span{
            display:block;
            height: 4px;
            background-color: #fff; 
            position:relative;

            &:nth-child(2) {
                margin:6px 0;
                //  호버시 딜레이를 이용하여 역동적인 애니메이션 효과
                &:after {
                   transition-delay:0.1s;
                }
            }

            &:last-child {
                &:after {
                    transition-delay:0.2s;
                }
            }
        } 

        span:after{
            content: '';
            position:absolute;
            left:0;top:0;bottom:0;
            width:0;
            transition:0.3s;
            background-color:rgb(0, 195, 255);

             
        }
    }
         
}



.banner{
    background: url(../img/banner-bg2.jpeg) no-repeat center center;
    background-size: cover;
    width: 1920px;
    height: 995px;
    position: relative;
    z-index: 1;

    .banner-title-wrap{
        display: flex;
        position: absolute;
        top: 40%;
        padding-left: 100px;

        .banner-title{
            h2{
                font-size: 72px;
                color: white;
                font-weight: bold;
                margin-bottom: 20px;
            }

            strong{
                font-size: 22px;
                color: white;
                
            }

        }

        .next-btn{
            display: flex;
            column-gap: 50px;
            transform: rotate(270deg);
            position: absolute;
            top: 50%;
            left: -45px;

            button{
                background: inherit;
                border: none;
                box-shadow: none;
                font-size: 18px;
                color: white;
                
            }

            button:hover{
                color: #767676;
                transition: color 0.2s ease-in;
            }
        }


    }

    .ic-social{
        width: 60px;
        height: 24;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 10%;

        li{
            .ic-fb{
                img{
                    width: 8px;
                    height: 18px;
                }

                img:hover{
                    filter: brightness(0.5);
                    transition: all 0.2s ease-in;
                }
            }

            .ic-nav{
                img{
                    height: 14px;
                    width: 14px;
                }

                img:hover{
                    filter: brightness(0.5);
                    transition: all 0.2s ease-in;
                }
            }
        }
    }
}

.mobile{
    height: 909px;
    padding: 95px 0;

    .mobile-wrap{
        height: 845px;
        position: relative;

        .mobile-title{
            display: flex;
            align-items: center;
            margin-bottom: 70px;

            h3{
                font-size: 50px;
                font-weight: 900;
            }

            p{
                font-size: 19px;
                font-weight: 700;
                line-height: 1.5;
                position: absolute;
                left: 700px;
            }
        }

        .mobile-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 30px;
            
            
            li{
                height: 210px;
                width: 400px;
                background-color: #f6f6f6;
                // 중앙정렬 어떻게 하는거지??

            li:hover{
                transition: all 0.2s ease-in;
                background-color: blue;
                box-shadow: 20px 20px gray;
            }
                
                a{
                    
                    .list-wrap{
                        padding: 30px 40px;
                        .list-title{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            h4{
                                font-size: 24px;
                                font-weight: 700;
                            }

                            img{
                                height: 35px;
                                width: 35px;
                            }
                        }

                        .list-content{
                        
                            p{
                                margin-top: 10px;
                                font-size: 15px;
                                line-height: 1.7;
                                margin-bottom: 30px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

.marketing{
    background: url(../img/marketing-bg.jpeg) no-repeat center;
    height: 909px;
    width: 100%;
    padding: 95px 0 55px 0;
    position: relative;
    z-index: 1;

    .mk-title-wrap{
        // 꼭 반응형에 대한 이해를 하자
        display: flex;
        align-items: center;
        color: white;
        position: relative;



        h3{
            font-size: 50px;
            font-weight: 900;
        }

        .line-white{
            border: 2px solid white;
            width: 50px;
            position: absolute;
            left: 630px;
            top: 40px;
        }

        p{
            font-size: 19px;
            font-weight: 500;
            line-height: 1.5;
            position: absolute;
            left: 700px;
        }

       
        }
    }

    .mk-info{
        margin-top: 50px;
        
        ul{
            border: 1px solid #6a6865;
            display: flex;
            justify-content: space-between;

            li{
                height: 500px;
                padding: 60px 40px;
            
                a{
                    .info-wrap{
                        img{
                            display: block;
                            margin: 0 auto;
                            height: 60px;
                            width: 62;
                        }

                        h4{
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            font-size: 26px;
                            margin: 20px 0;
                        }

                        p{
                            color: #8F8A89;
                            line-height: 1.6;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

.solution{
    height: 909px;
    width: 100%;
    background: url(../img/solution-bg.jpeg) no-repeat center center;
    background-size: cover;
    padding: 95px 0 55px 0;

    .solution-title-wrap{
        
        display: flex;
        position: relative;
        
        h3{
            font-size: 50px;
            font-weight: 900;
        }

        p{
            font-size: 19px;
            font-weight: 500;
            line-height: 1.5;
            position: absolute;
            left: 700px;
        }

        p:after{
            content: '';
            border: 1.5px solid black;
            width: 55px;
            position: absolute;
            left: -90px;
            top: 5px;
        }
    }

    .solution-info{
        ul{
            
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding-left: 550px;
            gap: 80px 20px;
            margin-top: 100px;

            li{
                width: 350px;
                position: relative;
                a{

                    .title-info{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h4{
                            font-size: 32px;
                            font-weight: 700;
                        }
    
                        h4:after{
                            content: '';
                            width: 347px;
                            border: 1.5px solid black;
                            position: absolute;
                            left: 0;
                            top: 60px;
                            
                        }

                        img{
                            width: 30px;
                            height: 14px;
                        }
                        
                    }

                    // a 영역 크기 키우는 법이 뭐지? widht height 한다고 안된다.
                    

    
                    p{
                        margin-top: 50px;
                        line-height: 1.5;
                    }

                    
                }
            }

            
        }
    }
}

.section-title{

    display: flex;
    align-items: center;
    margin-bottom: 100px;

    .title-wrap{

        h3{
            font-size: 50px;
            font-weight: 900;
            color: white;
        }

        p{
            font-size: 19px;
            font-weight: 700;
            line-height: 1.5;
            position: absolute;
            left: 700px;
        }
    }
}

.section-title-b{

    display: flex;
    align-items: center;
    margin-bottom: 100px;

    .title-wrap{

        h3{
            font-size: 50px;
            font-weight: 900;
            color: black;
        }

        p{
            font-size: 19px;
            font-weight: 700;
            line-height: 1.5;
            position: absolute;
            left: 700px;
        }
    }
}

.client-wrap{
    height: 909px;
    width: 100%;
    background: url(../img/client-bg.jpeg) no-repeat center center;
    background-size: cover;
    padding: 110px 0 55px 0;

    

    .client-info-wrap{
    
        ul{
            display: flex;
            justify-content: space-between;

            li{

                .client-sub-title{
                    
                    position: relative;

                    h4{
                        font-size: 32px;
                        font-weight: 700;
                        color: #fff;
                        line-height: 1.5;
                    }

                    h4:after{
                        content: '';
                        width: 56px;
                        border: 1.5px solid #fff;
                        position: absolute;
                        left: 0;
                        top: 124px;
                    }

                    p{
                        color: #fff;
                        margin-top: 55px;
                        line-height: 1.8;
                        font-size: 18px;
                    }

                }

            }
        }
    }
}

.chart-wrap{
    height: 909px;
    width: 100%;
    background: url(../img/chart-bg.jpeg) no-repeat center center;
    background-size: cover;
    padding: 110px 0 55px 0;
}







