@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import 'reset';

.base-header{
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}
    
.base{
    max-width: 1303px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.top-header{
    
    height: 72px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    

    h1{
        width: 142px;
    }

    .space{
        display: flex;
        flex-grow: 1;
    }
    
    ul{
        display: flex;
        column-gap: 50px;
        font-size: 17px;
        
        li{
            color: white;
             
            
            a{
                   
                img{
                    width: 142px;
                    height: auto;
                }
            }

            a:hover{
                color:#E2E2E2;
                transition: color 0.2s ease-in; 
            }
            
        }

    }

    .ham{
        display: block;
        width: 35px;
        height: 26px;
        outline: 1px solid red;
        position: relative;
        

        span{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 4px;
            background-color: black;
            border-radius: 4px;
            position: absolute;
            right: 0;
        }

        // span:nth-child(1){
        //     top: 0;
        // }

        // span:nth-child(2){
        //     top: 50%;
        // }

        // span:nth-child(3){
        //     bottom: 0;
        // }
        
    }
}

.banner{
    background: url(../img/banner-bg2.jpeg) no-repeat center center;
    background-size: cover;
    width: 1920px;
    height: 995px;
    position: relative;
    z-index: 1;

    .banner-title-wrap{
        display: flex;
        position: absolute;
        top: 40%;
        padding-left: 100px;

        .banner-title{
            h2{
                font-size: 72px;
                color: white;
                font-weight: bold;
                margin-bottom: 20px;
            }

            strong{
                font-size: 22px;
                color: white;
                
            }

        }

        .next-btn{
            display: flex;
            column-gap: 50px;
            transform: rotate(270deg);
            position: absolute;
            top: 50%;
            left: -45px;

            button{
                background: inherit;
                border: none;
                box-shadow: none;
                font-size: 18px;
                color: white;
                
            }

            button:hover{
                color: #767676;
                transition: color 0.2s ease-in;
            }
        }


    }

    .ic-social{
        width: 60px;
        height: 24;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 10%;

        li{
            .ic-fb{
                img{
                    width: 8px;
                    height: 18px;
                }

                img:hover{
                    filter: brightness(0.5);
                    transition: all 0.2s ease-in;
                }
            }

            .ic-nav{
                img{
                    height: 14px;
                    width: 14px;
                }

                img:hover{
                    filter: brightness(0.5);
                    transition: all 0.2s ease-in;
                }
            }
        }
    }
}

.mobile{
    height: 995px;
    padding: 95px 0;

    .mobile-wrap{
        height: 845px;
        outline: 1px solid red;

        .mobile-title{
            display: flex;
            align-items: center;
            column-gap: 300px;
            margin-bottom: 70px;

            h3{
                font-size: 50px;
                font-weight: 900;
            }

            p{
                font-size: 19px;
                font-weight: 500;
                line-height: 1.5;
            }
        }

        .mobile-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 30px;
            
            
            li{
                height: 210px;
                width: 400px;
                background-color: #f6f6f6;
                // 중앙정렬 어떻게 하는거지??

            li:hover{
                transition: all 0.2s ease-in;
                background-color: blue;
                box-shadow: 20px 20px gray;
            }
                
                a{
                    
                    .list-wrap{
                        padding: 30px 40px;
                        .list-title{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            h4{
                                font-size: 24px;
                                font-weight: 700;
                            }

                            img{
                                height: 35px;
                                width: 35px;
                            }
                        }

                        .list-content{
                        
                            p{
                                margin-top: 10px;
                                font-size: 15px;
                                line-height: 1.7;
                                margin-bottom: 30px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

.test{
    height: 100px;
    width: 100px;
    background-color: black;
}

.test:hover{
    transition: all 0.2s ease-in;
    background-color: white;
    box-shadow: 20px 20px gray;
}

