@charset "utf-8";

body{
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Noto Sans KR', sans-serif;
}

.base{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.page-header .info{
    border-bottom: 1px solid #eee;
    padding: 14px 0;
}

.page-header .inner h1{
    font-size: 30px;
}

.page-header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.page-header .search{
    border: 2px solid lightblue;
    border-radius: 24px;
    padding: 10px 20px;
}

.page-header .search input{
    border: none;
    /* border: none 을 이용히여 input의 태두리를 지울 수 있다. */
    width: 270px;
}

.page-header .search button{
    background: url(./my-study-img/ico_gnb_search.png);
    background-repeat: no-repeat;
    height: 24px;
    padding-left: 30px;
}

.page-header .gnb{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.page-header .gnb ul{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    /* max-width를 1280px로 잡아둔 다음  */
    width: 100%;
    /* width 100%를 이용하여 1280px를 가득 채운다 */
    margin: 0 auto;
    /* 그다음 중앙 정렬을 위해 margin 값 좌우 auto값을 줌으로 중앙정렬 시켜준다. */
    font-size: 18px;
    font-weight: 500;
}

.page-header .gnb li{
    border-left: 1px solid lightgray;
    text-align: center;
    flex-basis: 192px;
}

.page-header .gnb li:last-child{
    flex-basis: 220px;
    border-right: 1px solid lightgray;
}

.page-header .gnb a{
    display:block;
    padding:16px 0;
}

.visual-wrap{
    background: url(./my-study-img/nagoya.png) no-repeat center center;
    height: 1280px;
    padding: 50px 0;
    position: relative;
}

.visual-wrap > base{
    position: relative;
    z-index: 2;
}

.visual-wrap .title{
   
}