@charset "utf-8";

body {
    background-color:olive;
    color:#fff;
}

.wrap { 
    outline:1px solid red; 
    li {
        background-color:beige;
        font-size:20px;
    }

    a {
        color:red;
        text-decoration:none;

        &:hover {
            color:blue;
            text-decoration:underline;
        }
    }

}
 


 