

@mixin flex($a:null, $j:null, $g:null, $w:null){
    display: flex;
    justify-content: $j;
    align-items: $a; 
    gap: $g;
    flex-wrap: $w;
}

@mixin hoverColor{
    color: #d3d1d1;
}

@mixin hoverColor2{
    color:#626262;
}

@mixin hoverLine2{
    content: "";
    position: absolute;
    background-color: antiquewhite;
    border-radius: 20px;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s; 
}

@mixin hoverLine {
    &:after {     
        content: "";
        position: absolute;
        background-color: antiquewhite;
        border-radius: 20px;
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: 0.3s; 
    }

    &:hover:after {
        width:100%;
    }
        
    
}
