@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import 'reset, mixin';


%base{
    max-width: 1550px;
    width: 100%;
    margin: 0 auto; 
}

.box {
    @extend %base;
}
.page-header {
    background-color: rgb(43, 132, 210);
    
    .inner{
        @include flex;
        @extend %base;
       

        .gnb{
            display: flex;
            
        }

        .ham{
            height: 50px;
            width: 50px;
            background-color: red;
        }
    }
}