@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import 'reset','extends','mixin';




.box {
    @extend %base;
}
.page-header {
    // background-color: rgba(32, 143, 240, 0.746);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;
    
    
    .inner{
        
        @extend %base;
        @include flex($j:space-between);
        padding: 50px 0 30px 0;

        h1{
            outline: 1px solid red;
            padding: 10px 0;
            
            a{
                padding: 10px 10px;
                img{
                    height: 30px;
                    width: auto;
                }
            }
        }
        
        
       
        .right{
            color: #000000;
            @include flex($g:60px);
            .gnb{
                @include flex($a: center, $g:50px);
                font-size: 20px;
                font-weight: 600;

                li{
                    color: #fff;
                    transition: 0.3s;

                    a{
                        display: block;
                        position: relative;
                        padding: 10px;
                        outline: 1px solid red;
                        
                    }
                    
                    a:after{
                        @include hoverLine;                  
                    }

                    a:hover:after{
                        width: 100%;
                        
                    }
                }

                li:hover{
                    @include hoverColor;
                }

                
            }

            
    
            .btn-ham{    
                width: 40px;
                height: 30px;
                position: relative;
                z-index:101;
                outline: 1px solid red;

                b {
                    @extend %blind;
                }

                span { 
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    border-radius: 30px;
                    background: #fff;
                    transition: all .35s;
                    

                    &:first-child {
                        top:0;
                        
                    }

                    &:nth-child(2) { 
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:nth-child(3){
                        bottom:0;
                    }
                }

                &.open {
                    span {

                        background: #000000;

                        &:first-child {
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                        }
    
                        &:nth-child(2) {
                            opacity:0;
                        }
    
                        &:nth-child(3) {
                            bottom: 50%;
                            transform: translateY(50%) rotate(-45deg);
                        }
                    }
                }
                
                
                 
            }

         

            // input cheked

           
        }
        
    }
}

.banner{
    background: url(../img/banner-bg2.jpeg) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;

    

    .inner-banner{
        @extend %base;
        
        .btn-box{
            @include flex();
            position: absolute;
            transform:rotate(-90deg);
            outline: 1px solid red;
            left: 2%;
            top: 52%;

            a{
                color: #fff;
                font-size: 25px;
                transition: 0.3s;

                display: block;
                position: relative;
                padding: 10px;
                outline: 1px solid red;

                a:after{
                    @include hoverLine;
                    
                }

                a:hover:after{
                    width: 100%;
                }
                
                

                &:first-child{
                    margin: 0;
                    
                    
                }

                &:last-child{
                    margin-left: 80px;
                    
                }
            }

            a:hover{
                @include hoverColor2;
            }
    
        }
        
        // height: 100vh;
        // flex-direction: column;
        // justify-content: center;


        .main-banner{
            outline: 1px solid green;
            display: flex;
            position: absolute;
            top: 40%;
            left: 16%;
    
            .banner-title{
                h2{
                    color: #fff;
                    font-size: 80px;
                    font-weight: 700;
                }
    
                h3{
                    color: #fff;
                    font-size: 25px;
                    margin-top: 20px;
                }
            }
        }

        .sns-icons{
            outline: 1px solid green;
            position: absolute;
            bottom: 10%;
            @include flex($g:20px);

            a{
                padding:10px;
                @include flex(center,center);
                outline: 1px solid red;
                

                

                img{
                    width: 20px;
                    height: auto;
                }
            }
        }
    }
}

.menu-modal {
    
    display:none;
    position:fixed;
    width:100vw;height:100vh;
    left:0;top:0;
    background-color:rgb(255, 255, 255);
    color:#000000;
    text-align:center;
    font-size:50px;
    z-index:100;

    &.open {
        display:block;
    }

    .modal-contents{
        
        @extend %modalBase;
        background-color: antiquewhite;
        margin-top: 135px;

        .contents-depth1{
            outline: 1px solid blue;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-size: 50px;
            font-weight: 700;

            .contents-depth2{
                outline: 1px solid red;
                font-size: 25px;
                font-weight: 300;
                text-align: left;
                
            }
        }
    }

}